@charset "UTF-8";

body{
	background-color: #F29395;
	color: #272DF5;
}
h1{
	color:#461258;
}
@media(min-width:1024px){
	body{
		background-color: aquamarine;
		color:cadetblue;
	}
	h1{
		color:red;
	}
}
@media(min-width:320px)and(max-width:768px){
	body{
		background-color: #27268B;
		color:aliceblue;
	}
	
}

