@charset "UTF-8";

section{
	margin: 20px 0px;
}

.contenedor-flexible{
	background-color: #FDBABB;
	display: flex;
}
.contenedor-flexible>div, .contenedor-flexible-1>div, .contenedor-flexible-2>div, .contenedor-flexible-3>div, .contenedor-flexible-4>div, .contenedor-flexible-5>div, .contenedor-flexible-6>div, .contenedor-flexible-7>div{
	width: 400px;
	height: 50px;
	background-color: #F5393C;
	margin:10px;
	padding:30px;
	font-size: 32px;
	text-align: center;
}

.contenedor-flexible-1>div{
	width:30%;
}

.contenedor-flexible-3>div{
	width: 20%;
}

.contenedor-flexible-4>div{
	height: auto;
}

.contenedor-flexible-5>div{
	width: 100px;
	height: auto;
}

.contenedor-flexible-6>div{
	width: 100px;
}

.contenedor-flexible-7>div{
	width: 200px;
	height: 200px;
}

.contenedor-flexible-1{
	background-color: #FDBABB;
	display: flex;
	flex-direction: column-reverse;
}

.contenedor-flexible-2{
	background-color: #FDBABB;
	display: flex;
	flex-wrap: wrap-reverse;
}

.contenedor-flexible-3{
	background-color: #FDBABB;
	display: flex;
	justify-content: space-between;
}

.contenedor-flexible-4{
	background-color: #FDBABB;
	display: flex;
	height: 400px;
	align-items:stretch;
}

.contenedor-flexible-5{
	background-color: #FDBABB;
	display:flex;
	height: 300px;
	align-items: baseline;
}

.contenedor-flexible-6{
	background-color: #FDBABB;
	display:flex;
	height: 800px;
	flex-wrap: wrap;
	align-content: space-around;
}

.contenedor-flexible-7{
	background-color: #FDBABB;
	display: flex;
	height: 600px;
	justify-content: center;
	align-items: center;
}

header, main, section, nav, footer{
	width: 90%;
	margin: 0 auto;
}
header{
	background-color: deeppink;
	height: 100px;
	padding: 20px;
}

header h1{
	color: #F2F2F2;
	font-size: 60px;
	text-align: center;
	margin:10px;
	padding:10px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
footer{
	background-color: paleturquoise;
	color: black;
	height: 100px;
	padding: 20px;
}
h5{
	color: black;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
nav{
	background-color: paleturquoise;
	height: 60px;
	padding: 20px;
}
nav ul il{	
	padding: 5px;
	margin: 5px;
	font-size: 15px;
}
main{
	background-color:#FFE3E3;
	padding: 20px;
	height: auto;
	display: flex;
	flex-direction: column;
}
section{
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: palevioletred;
	padding: 20px;
	border: 5px dashed #C2F7F8;
	height: auto;
	color: #FFFFFF;
}
h2{
	padding-bottom: 30px;
	color: #F2F2F2;
	font-size: 32px;
	font-style: normal;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
